 

@{
    //Layout = null;

    Layout = "~/Views/Shared/_ShopLayout.cshtml";
    //Models.Product product = Model;
    //jb14mvc.Models.Product product = ViewBag.model;
    //List<jb14mvc.Models.Product> lst = ViewBag.lst;
    List<design.Models.T_Shop_Product> lst = ViewBag.lst;
}

@section css{
    <style>
        .header-top {
            height: 330px;
            background-size: cover;
            background-repeat: no-repeat;
            color: white;
        }

        .jumbotron {
            padding: 60px 0;
        }

        .border_bottom {
            border-bottom: solid 1px #f5f3f3;
        }

        .footer {
            color: #777;
            padding: 30px 0;
            border-top: 1px solid #e5e5e5;
            margin-top: 70px;
        }

        .liepin-link {
            padding: 16px 32px 5px 32px;
            -webkit-background-size: contain;
            background-size: contain;
            background-position: center center;
        }

        .powered-by-liepin {
            position: relative;
            top: -40px;
            color: #777;
            font-size: 12px;
            z-index: 999;
        }
    </style>

}




<header class="header-top jumbotron" style="background-image:url(/Content/images/ballon.jpg)">
    <div class="container">
        <h1>你的满足就是我最大的快乐</h1>
        <p>好商品都在这里</p>
        <div style="border-top:solid 1px rgba(143, 143, 143, 0.48);">
            <div class="row">
                <div class="col-sm-2">快捷入口</div>
                <div class="col-sm-10 text-left">
                    <span class="label label-primary">百度</span>
                    <span class="label label-success">阿里</span>
                    <span class="label label-info">携程</span>
                    <span class="label label-warning">360</span>
                    <span class="label label-danger">金山</span>
                    <span class="label label-default">畅游</span> <br />
                    <span class="label label-default">10万</span>
                    <span class="label label-default">15万</span>
                    <span class="label label-default">20万</span>
                    <span class="label label-default">25万</span>
                    <span class="label label-default">30万</span>
                    <span class="label label-default">30万</span>
                </div>
            </div>

        </div>

    </div>
</header>

<section class="news-goods">
    <div class="container border_bottom">
        <h3>最新商品</h3>
        <small class="pull-right">
            品牌
            <a href="#">[全部]</a>
            <a href="#">西门子</a>
            <a href="#">上海</a>
            <a href="#">广州</a>
            <a href="#">深圳</a>
            <a href="#">成都</a>
            <a href="#">其他</a>
        </small>
    </div>
</section>

<section class="goods-list">
    <div class="container">
        <div class="row">

            <div class="row">
                @{
                    foreach (design.Models.T_Shop_Product tmp in lst)
                    {
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a href="/shop/detail?id=@tmp.Id">
                                    <img src="@tmp.Pic" alt="..." />
                                </a>
                                <div class="caption">
                                    <h3>@tmp.Name</h3>
                                    <p>月销量 @tmp.MothSells   笔</p>
                                    <p><a href="/shop/AddBasket?ProductId=(@tmp.Id)&Amount=1" class="btn btn-primary" role="button">加入购物篮</a> <a href="#" class="btn btn-default" role="button">立即购买</a></p>
                                </div>
                            </div>
                        </div>

                    }

                }

            </div>






        </div><!-- .row -->


    </div><!-- .container -->
</section>





